---
import './_global.css'
import Index from './_index.svelte'
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<title>HTML to xHTML</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
</head>
<body>
	<h1>HTML to xHTML</h1>
	<div class="svelte">
		<Index client:load></Index>
	</div>
</body>
</html>

<style>
	body {
		@apply bg-gradient-57 min-h-screen
	}
	h1 {
		font-family: 'Playfair Display', serif;
		@apply text-center text-3xl py-5
	}
	.svelte {
		@apply px-5 grid-cols-2 grid gap-3
	}
	.svelte :global(textarea){
		@apply focus:outline-none rounded-lg p-3 min-h-[300px] w-full;
	}
</style>